@charset "utf-8";


/* Reset
------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,blockquote,th,td {
margin: 0;
padding: 0;
}
address,em { font-style: normal; }
strong,th { font-weight: normal; }
table {
border-collapse: collapse;
border-spacing: 0;
}
th { text-align: left; }
hr,legend { display: none;	}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
img,fieldset { border: 0; }
li { list-style-type: none; }

/* Fonts
------------------------------------------------------------*/
body {
	font-size: 75%; /* IE */
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}
html>/**/body { font-size: 12px; }

/* clearfix
-------------------------------------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix { /zoom: 1;}

/* Firefox リンク破線処理
-------------------------------------------------------------*/
a {
overflow: hidden;
    outline: none;
}